
## By Date

You can also view this list in the order of creation date (to get a sense of the history of ComfyUI) [here](byDate.md).

## A Broader Collection

There are also many repositories refer to `ComfyUI` in their `README.md`.
This broader collection can be found [here](BroaderCollection.md).

## Data Source

This list is based on data from the `GitHub Search API`, `Star History API`, `ComfyUI-Manager`, and `manually curated tags`.
 * The GitHub Search API is used to find repositories based on the query `comfyui fork:true`, sorted by the number of stars.
 * The Star History API provides the star count history for these repositories.
 * ComfyUI-Manager provides the node list via the [extension_node_map]({{ EXTENSION_NODE_MAP_URL }}).
 * Manual tags are used to categorize and filter repositories.

Code can be found in [main.py](main.py). Manual tags are stored in [tags.yml](tags.yml).

All rights belong to the original authors of the repositories.

### Automatically updated on: {{ updated_time }}

